@model Materiaal.Models.Aanvraag.Tak

@{
    ViewBag.Title = "Takken";
}



<div>
    <h4>Tak</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tak_Naam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tak_Naam)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Verwijder" class="btn btn-default" /> |
            @Html.ActionLink("Terug naar overzicht", "Index")
        </div>
    }
</div>
